@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Repetitive values */
.top-title,
.top-text,
.form-title,
.submit-button,
.ending-text,
.ending-text-redirect,
.error-message {
  font-family: "Poppins";
  font-style: normal;
  color: #f5f5f5;
}

.form-div-style,
.input-style {
  background-color: transparent;
  color: #f5f5f5;
}

.w-5 {
  margin-left: 1.5rem;
  color: white;
}

.circular {
  border-radius: 50%;
}

/* Pages body */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.home {
  background: #17181c;
  grid-template-columns: 20% 80%;
  overflow: auto;
}

.left-side {
  background: linear-gradient(180deg, #2e2f36 0%, #17181c 100%);
}

.right-side {
  background: url("./images/side_image.png");
  background-size: cover;
}

/* Home page */

.nav {
  background: #1e1f23;
  padding: 42px 10px;
  text-align: center;
  border: 2px solid #2e2f36;
  position: fixed;
  height: 100vh;
  width: 18.6%;
}

.main_header {
  background: #1e1f23;
  height: 7%;
  color: white;
  display: flex;
  border: 2px solid #2e2f36;
  border-left: none;
  position: fixed;
  width: 81.5%;
}

.header_home {
  margin-top: 1rem;
  margin-left: 2%;
  display: flex;
  align-items: center;
}

.header_home_p {
  margin-left: 1%;
  margin-top: 2%;
}

.header_user {
  margin-left: 75%;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.main_body {
  display: flex;
  /*background: #17181c;*/
  height: 86%;
  padding: 2%;
  margin-top: 5%;
}

.posts {
  width: 100%;
  height: 800px;
  margin-left: 5%;
}

#posts-div {
  color: white;
}

.post {
  background: #1e1f23;
  border: 2px solid #2e2f36;
  border-radius: 16px;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.posts-img {
  margin-top: 1.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 50px;
  height: 50px;
  float: left;
}

.posts-info {
  height: 5%;
}

.posts-content {
  padding-left: 5%;
}

.post-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 48px;
  gap: 10px;
}

.all-comments {
  padding-left: 2%;
}

.posts-comments-img {
  float: left;
  padding: 1%;
}

.write_field {
  background: #1e1f23;
  border: 2px solid #2e2f36;
  border-radius: 16px;
  padding: 2%;
}

.write_field_image {
  vertical-align: middle;
  margin-left: 2%;
  margin-right: 2%;
}

.input-home {
  background: #27282f;
  border-radius: 46px;
  padding: 0.5rem 2.5rem;
  height: 37px;
  width: 80%;
  border: 0px;
  color: #75767d;
  font-size: 1rem;
}

.topics {
  width: 30%;
  height: 800px;
  margin-left: 10%;
}

.topics-div {
  background: #1e1f23;
  border: 2px solid #2e2f36;
  border-radius: 16px;
  height: 25%;
  font-weight: 300px;
  border: 2px #2e2f36 solid;
  color: white;
  border: 2px solid #2e2f36;
  position: fixed;
  width: 15%;
}

#td1 {
  top: 10%;
  overflow: auto;
}

.td2 {
  top: 40%;
}

.td3 {
  top: 70%;
}

.myFriends {
  margin-left: 5%;
  margin-bottom: 10%;
}

.friends-div {
  margin-bottom: 15%;
}

.friends-img {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

.submit-post {
  border: 2px solid #27282f;
  border-radius: 8px;
  margin-left: 60%;
  background: #1e1f23;
  color: white;
  padding: 1% 3% 1% 3%;
}

/* Top text container */
.top-container {
  width: 25.5rem;

  margin: 0 auto;
}

.top-title {
  /* Olá, */
  /* Olá, */
  font-weight: 500;
  font-size: 300%;
  line-height: 150%;

  margin-bottom: 1rem;
}

#top-title-login {
  margin-top: 30%;
}

.top-text {
  /* Por favor, registre-se para continuar */
  /* Para continuar navegando de forma segura, efetue o login */
  font-weight: 400;
  font-size: 100%;
  line-height: 24px;
}

#top-text-login {
  margin-bottom: 20%;
}

/*  Form content container */
.form-container {
  width: 25.5rem;

  margin: 0 auto;
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1rem;

  gap: 30px;
}

.form-title {
  /* Registro */
  /* Login */
  font-weight: 400;
  font-size: 150%;
  line-height: 200%;

  padding: 0px 8px;
  margin-bottom: -0.5rem;
}

.form-div-style {
  width: 100%;
  height: 50%;

  border: 2px solid #f5f5f5;
  border-radius: 46px;
  padding: 1% 1%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-style {
  width: 100%;
  border: 0px;
  margin-left: 4%;
}

.input-image {
  width: 10%;
  margin-right: 2%;
}

.submit-button {
  width: 100%;
  height: 50%;

  border: 1px solid #fe2e05;
  border-radius: 46px;

  background: linear-gradient(180deg, #ad2d14 0%, #f42e07 100%);
  padding: 3% 3%;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.ending-text {
  /* Já possui uma conta? */
  /* Novo por aqui? */
  margin: 0 auto;
  margin-bottom: 2rem;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Same paragraph as ending-text */
.ending-text-redirect {
  /* Faça Login */
  /* Registre-se */
  width: 406px;
  height: 24px;

  color: #ffffff;
  text-align: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.error-message {
  width: 100%;

  color: #e9b425;
  text-align: center;

  font-weight: 500;
  font-size: 100%;
  line-height: 24px;

  display: none;
}

/* Remove calendar icon on type date */
/* Not working with firefox */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Tablets */
@media (max-width: 910px) {
  .container {
    grid-template-columns: auto;
  }

  .right-side {
    display: none;
  }
}

/* Mobiles */
@media (max-width: 600px) {
  .top-container {
    width: 20rem;
  }

  .form-container {
    width: 20rem;
    margin-top: 3rem;
  }
}

@media (max-height: 860px) {
  .top-title {
    margin-top: 1rem;
  }

  .form-container {
    margin-top: -1rem;
  }
}

@media (max-height: 800px) {
  .form-container {
    margin-top: -1.5rem;
  }

  .top-title {
    font-size: 250%;
  }

  .top-text {
    font-size: 80%;
    margin-top: -1rem;
  }
}

@media (max-height: 740px) {
  .top-container {
    display: none;
  }

  .form-container {
    margin-top: -0.5rem;
  }
}
